#form{
    position: absolute;
    left: 30%;
}

#fieldset {
    width: 30vw;
    padding-right: 30px;
    padding-left: 30px;
}

legend {
    font-weight: bold;
}

.input {
    width: 20vw;
}

#interests {
    resize: none;
}

.error {
    font-size: 10.5px;
    margin: 0;
    padding: 0;
    color: red;
}

#display-box {
    position: absolute;
    left: 32.5%;
    bottom: 70%;
    width: 35vw;
    border: 1px solid black;
    padding-right: 15px;
    padding-left: 15px;

    margin-top: 6.175vh;
    font-size: 14px;
}

.output{
    color: red;
}
